/*
 * Basic HTML elements
 */

:root {
    
    --background-primary: #fafafa;
    --background-secondary: #424242;
    --text-primary: #424242;
    --text-secondary: #424242;
    --font-family: "Ubuntu", sans-serif;
}

body {
    color: #424242;
    /*background-color: #fafafa;*/
    background-color: var(--background-primary);
    
    /*font-family: "Ubuntu", sans-serif;*/
    font-family: var(--font-family);
    font-size: 1em;
    line-height: 1.5em;
    margin: 0;
}

a {
    color: #0090ff;
    text-decoration: none;
}

h1 {
    margin: 0px;
    font-family: "Ubuntu Light", sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    color: #909090;
    line-height: 2em;
}


h2 {
    margin: 0px;
    font-weight: normal;
    font-size: 1.2em;
    color: #707070;
}

hr {
    background-color: #909090;
}

section {
    margin: 1em;
}


/* 
 * Layouts 
 */

.layout-vbox {
    display: flex;
    flex-direction: column;
}


.layout-hbox {
    display: flex;
    flex-direction: row;
}

/*
 * UI elements
 */

.main-content {
    margin: 0 auto;
    max-width: 48em;
}

.toolbar {
    width: 100%;
    /*height: 64px;*/
    height: 4em;
    margin: 0px;
    /*background-color: #424242;*/
    background-color: var(--background-secondary);
    color: #f0f0f0;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
 * Typography
 */

.typography-h1 {
    font-size: 3.05em; /* 48px */
    font-weight: 300;
}

.typography-h2 {
    font-size: 2.44em; /* 39px */
}

.typography-h3 {
    font-size: 1.95em; /* 31px */
}

.typography-h4 {
    font-size: 1.56em; /* 25px */
}

.typography-h5 {
    font-size: 1.25em; /* 20px */
}

.typography-body {
    font-size: 1em; /* 16px */
}

.typography-primary-text{
    font-size: 0.8em; /* 13px */
}

.typography-secondary-text{
    font-size: 0.64em; /* 10px */
}

.typography-overline{
    font-size: 0.51em; /* 8px */
    text-transform: uppercase;
}

.typography-button {
    font-size: 0.8em; /* 13px */
    text-transform: uppercase;
}




/*
 * Others
 */

#text-area {
    background-color: #fafafa;
    border-color: #a0a0a0;
    
    width: 100%;
    height: 16em;
}

#button-calc {
    font-size: 1em;
    /*color: #424242;*/
    /*background-color: #fafafa;*/
    /*border-color: #a0a0a0;*/
}
